<!DOCTYPE html>
<html>
  <head>
    <title>Testing Forms in go</title>
  </head>
  <body>
    This is a form
     {{if .}}
    <div>
      <div>You entered the following fields:</div>
      <ul>
        {{range $key, $value := .}}
          <li>{{$key}} : {{$value}}</li>
        {{end}}
      </ul>
    </div>
    {{end}}

    <form method="POST" action="/">
      <input type="text" name="fname" />
      <input type="submit" name="submit" />
    </form>
  </body>
</html>
